.custom-button{
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}

.container{
    margin-bottom: 100px;
}

.custom-carousel p{
    color: gray;
}

.bg{
    background-image: url("images/bg-1-2.png");
    background-repeat: no-repeat;
}

.carousel-indicators li{
    background-color: gray;
} 

.carousel-indicators .active {
    width: 48px;
    height: 4px;
    background-image: linear-gradient(45deg, rgb(255, 102, 0), orange);
}

.custom-card p, .card-footer, .custom-card h4{
    text-align: center;
}

.custom-card p{
    color: gray;
}

.card-footer{
    border: none;
    background-color: white;
}

.see-all{
    color: orange;
}

.category h3{
    text-align: center;
}

.hori-row{
    width: 8%;
    background-image: linear-gradient(-45deg, rgb(255, 102, 0), orange);
    height: 7px;
    border-radius: 10px;
}

